*{

    margin:0;
    padding:0;
    box-sizing: border-box;

}
.container {

    display:flex;
    flex-flow:column wrap;

}
.container-botones{

    margin-top:1rem;
    
}
/*
body {
    
    text-align:center;

}*/
.container-arrastrar {

    width:100px;
    height: 600px;
    background-color:blue;
    display:flex;
    /*z-index:50;*/


}
   .arrastrar-elemento{

        width:150px;
        height:50px;
        background-color:blueviolet;
        position:fixed;
        

    }
.canvas-container-elemento{
    
    
    width:400px;
    height: 200px;
    text-align:center;
    background-color:rgba(100,   255, 196, 0.5);
    

}

.elementCanvas{

    /*z-index:-20;*/
    position: relative;
    
}

.elementCanvas{

    width:100px;
    height: 100px;
    background-color:black;


}

